
/* Customize fonts */
body, label, input, button, select {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }


/* Navbar fixed on the top */
.navbar {
  position: fixed;
  right: 0;
  left: 0;
}

/* Offset the tab content so that the top is not under the navbar */
.tab-content > .active {
    top: 55px;
    position: absolute;
}

/* Change colors of the Navbar */
.navbar-default {
    background-color: #6a6a6a;
    border-color: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: #fff;
}

/* The map takes the whole page */
div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}


/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/* Absolute panel called controls */
#controls {
  background-color: #6a6a6a;
  border-color: #fff;
  padding: 0 20px 20px 20px;
  cursor: move;
  opacity: 0.85;
  zoom: 0.9;
  color: #fff;
}

/* Position and style citation */
#cite {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  bottom: 0px;
  font-size: 11px;
  padding: 0 5px;
  float: left;
}

/* Style links */
#cite a, #cite a:focus, #cite a:hover, .leaflet-control-attribution a, .leaflet-control-attribution a:hover {
  font-style: italic;
  color: #333;
}

/* Style graph */
#temporel img {
  border-radius: 4px;
}

/* Style A propos Panel */
.tab-pane.active[data-value='about'] {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
}


/* logo in the title */
.logo{
  height: 45px;
}

.navbar-brand{
  padding-top: 3px;;
}

/* auto resize of leaflet popup */
.leaflet-popup-content {
  width: auto !important;
}

/* periode min and max values */
.irs--shiny .irs-min, .irs--shiny .irs-max{
  color: #fff;
}

